@page
@model BarberShopWeb.Pages.Appointments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentName" class="control-label"></label>
                <input asp-for="Appointment.AppointmentName" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Price" class="control-label"></label>
                <input asp-for="Appointment.Price" class="form-control" />
                <span asp-validation-for="Appointment.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.HairstylistID" class="control-label"></label>
                <select asp-for="Appointment.HairstylistID" class="form-control" asp-items="ViewBag.HairstylistID"></select>
                <span asp-validation-for="Appointment.HairstylistID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Appointment.AppoitnmentDate" class="control-label"></label>
                    <input asp-for="Appointment.AppoitnmentDate" class="form-control" />
                    <span asp-validation-for="Appointment.AppoitnmentDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.SalonID" class="control-label">Salon name</label>
                    <select asp-for="Appointment.SalonID" class="form-control" asp-items="ViewBag.SalonID"></select>
                    <span asp-validation-for="Appointment.SalonID" class="text-danger"></span>
                </div>
                <div class="form-group">
 <div class="table">
 <table>
 <tr>
 @{
 int cnt = 0;
 foreach (var cat in Model.AssignedCategoryDataList)
 {
 if (cnt++ % 3 == 0)
{
@:</tr><tr>
 }
 @:<td>
 <input type="checkbox"
 name="selectedCategories"
 value="@cat.CategoryID"
 @(Html.Raw(cat.Assigned ?
"checked=\"checked\"" : "")) />
 @cat.CategoryID @: @cat.Name
 @:</td>
 }
 @:</tr>
 }
 </table>
 </div>
 </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
